{% extends 'EllisAppsEcommerceBundle:Shared:layout.html.twig' %}

{% block pre_content %}
    <div class="bg-secondary">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <legend><h4 style="color: #fff;">Product</h4></legend>
                </div>
                <div class="col-sm-3">
                    <legend><h4 style="color: #fff;">Price</h4></legend>
                </div>
                <div class="col-sm-3">
                    <legend><h4 style="color: #fff;">Quantity</h4></legend>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <br>
    {% for i in 0..4 %}
        <div class="panel panel-custom">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div style="background-color: #eee; min-width: 100%; min-height: 100px;">
                            &nbsp;
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-4">
                        <h3 class="secondary-color">Item 1</h3>
                        <strong>Details Here</strong>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="primary-color text-center">$19.99</h3>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control" type="text" value="1">
                            </div>
                            <div class="col-sm-6">
                                <center>
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="clearfix">
        <div class="pull-right">
            <h3 class="primary-color">Total: $119.99</h3>
            <a href="{{ path('ellisapps_ecommerce_shipping') }}" class="btn btn-custom pull-right">
                <i class="fa fa-check"></i> Checkout
            </a>
        </div>
    </div>
    <br><br>
{% endblock %}
