/* make the footer at the bottom of page */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}
/*#wrapper {
    min-height:100%;
    position:relative;
}*/
#wrapper {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    position: relative;
}

#content {
    padding: 0 15px;
    /*background-color: #f2f4f8;*/
    background-color: #f6f6f6;
    border-top: 0px solid #ddd;
}

@media(min-width:768px) {
    #content {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 30px;
        border-left: 0px solid #e7e7e7;
    }

    .navbar-brand {
        width: 250px;
        color: #fff !important;
        background-color: #2980b9;
    }
    .navbar-brand:hover {
        background-color: #2980b9 !important;
    }
}
/*#content {
    padding-bottom: 75px; /* Height of the footer element *
}*/
#footer {
    background:#e6e6e6;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    color: #aaa;
    padding: 25px;
}



/* button */
.btn-custom {
    background-color: #2980b9;
    color: #fff;
    border-radius: 0px;
}
.btn-custom:hover {
    background-color: #1970a9;
    color: #fff;
}



/* panel */
.panel-custom {
    border: none;
    border-radius: 0px;
}
.panel-custom .panel-heading {
    color: #2980b9;
    font-size: 22px;
    border-bottom: 1px solid #eee;
}




/* table */
.table-custom-hover tr:hover {
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
}
.table-custom-hover thead tr:hover {
    background-color: inherit;
    color: inherit;
    cursor: inherit;
}
