<!DOCTYPE html>
<html>
<head>
    <title>Genealogy</title>

    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {% stylesheets
            '@EllisAppsSharedBundle/Resources/public/css/bootstrap/bootstrap.css'
            '@EllisAppsGenealogyBundle/Resources/public/css/mainStructure.css'
            '@EllisAppsGenealogyBundle/Resources/public/css/nav.css'
            '@EllisAppsGenealogyBundle/Resources/public/css/footer.css'
            '@EllisAppsGenealogyBundle/Resources/public/css/custom.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body>
    <div id="wrapper">
        {# main nav #}
        {% include 'EllisAppsGenealogyBundle:Shared:nav.html.twig' %}

        {# content #}
        <div id="content">

            {% block flash_messages %}
                {% set flashTypes = [ 'info', 'warning', 'error', 'success'] %}
                {% set flashTypeMap = {
                    'info'    : 'info',
                    'warning' : 'warning',
                    'error'   : 'danger',
                    'success' : 'success',
                } %}
                {% for flashType in flashTypes %}
                    {% for flashMessage in app.session.flashbag.get(flashType) %}
                        <div class="hidden-print alert alert-dismissible alert-{{ flashTypeMap[flashType] }}" role="alert" style="margin-bottom: 20px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>
                                {{ flashMessage|raw }}
                            </strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        {# footer #}
        {#{% include 'EllisAppsGenealogyBundle:Shared:footer.html.twig' %}#}
    </div>

    {% block javascripts %}
        {% javascripts
            'bundles/ellisappsshared/js/jquery-1.11.1.min.js'
            'bundles/ellisappsshared/js/bootstrap/bootstrap.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>
