body {
    background-color: #34495e;
}

#wrapper {
    min-height: calc(100% - 80px);
    width: 100%;
    background-color: #34495e;
}

#content {
    padding: 0 15px;
    /*background-color: #f2f4f8;*/
    background-color: #eef1f3;
}

@media(min-width:768px) {
    #content {
        position: absolute;
        margin: 0 0 0 80px;
        padding: 30px;
        min-height: calc(100% - 80px);
        min-width: calc(100% - 80px);
    }

    .navbar-brand {
        width: 80px;
        color: #fff !important;
        background-color: #3498db;
    }
    .navbar-brand:hover {
        background-color: #3498db !important;
    }
}
